*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  font-family: 'Comfortaa', cursive;
}

 ul{
  list-style: none;
}

 a{
  text-decoration: none;
  color: #fff;
}

/* navbar */

.navbar{
  height: 100px;
}

.navbar .container{
  overflow: hidden;
  max-width: 1500px;
}

.navbar .flex1{
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.navbar .info{
  color: rgba(255,255,255, 0.6);
}

.navbar ul{
  display: flex;
}

.navbar a{
  padding: 15px;
  margin: 0 15px;
  font-size: 30px;
}

/* showcase */

.showcase{
  height: 100vh;
  overflow: hidden;
}

.showcase .card{
  background-image: radial-gradient(var(--secondary) 30%, var(--background) 30%);
  background-size: 2px 3px;
  font-family: "Archivo", sans-serif;
  color: var(--light-text);
}

.showcase .flex1{
  flex-direction: column;
}

.showcase .card{
  margin: 7vh 0;
}

.showcase-text a{
  text-align: center;
  font-size: 30px;
}

.intro{
  font-size: 70px;
}

.graphic{
  color:	#f85959;
}

.graphic:hover{
  border-bottom: 1px solid #fff;
}

/* anim */

@keyframes shadow-wave {
  0% {
    border: 3px solid var(--dark-peach);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--red),
      20px -20px 0 -3px var(--background), 20px -20px var(--yellow);
  }
  20% {
    border: 3px solid var(--red);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--yellow),
      20px -20px 0 -3px var(--background), 20px -20px var(--dark-peach);
  }
  40% {
    border: 3px solid var(--yellow);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--dark-peach),
      20px -20px 0 -3px var(--background), 20px -20px var(--red);
  }
  60% {
    border: 3px solid var(--dark-peach);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--red),
      20px -20px 0 -3px var(--background), 20px -20px var(--yellow);
  }
  80% {
    bborder: 3px solid var(--red);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--yellow),
      20px -20px 0 -3px var(--background), 20px -20px var(--dark-peach);
  }
  100% {
    border: 3px solid var(--yellow);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--dark-peach),
      20px -20px 0 -3px var(--background), 20px -20px var(--red);
  }
}

@media(max-width:1077px){
  .showcase .intro{
    margin-left: 7vw;
  }
}

@media(max-width:507px){

  .navbar{
    height:100px;
  }

  .navbar .flex{
    flex-direction: column;
  }

  .navbar .info{
    align-self: center;
    padding-bottom: 10px;
  }

  .navbar  ul{
    padding: 10px;
  }

  .navbar a{
    font-size: 20px;
  }

  .showcase .intro{
    font-size: 49px;
  }

  .showcase .card{
    width: 200px;
    padding: 15px 10px;
  }

  .showcase-text a{
    font-size: 20px;
  }

  .showcase .flex1 .card{
    margin-right: 20px
  }

}

@media (max-width:375px) {
  .showcase .intro{
    margin-left: 5vw;
    font-size: 49px;
  }
}

@media (max-width:320px){

  .navbar{
    height: 120px;
  }

  .navbar a{
    margin: 0 10px;
  }

  .showcase .intro{
    margin-left: 0;
    font-size: 40px;
  }

  .showcase .card{
    width:150px;
    padding: 10px 7px;
  }

  .showcase-text a{
    font-size: 18px;
  }


}
